<mat-toolbar color="primary">
  <img
    style="height: 100px; margin: -15px"
    src="../../../assets/img/logo 1.png"
    alt="logo"
  />
  <span>KK Cafe & More</span>
  <span class="example-spacer"></span>
  <button
    routerLink="/main"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    (click)="logOut()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"
        ><mat-icon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="/items"><mat-icon>list</mat-icon></a>
      <a mat-list-item routerLink="/users"><mat-icon>person</mat-icon></a>
      <a mat-list-item routerLink="/add"><mat-icon>add</mat-icon></a>
      <a mat-list-item routerLink="/bill"><mat-icon>assignment</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-spinner class="spinner" *ngIf="loaderService.isLoading | async"></mat-spinner>
    <div style="height: 90vh">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Categories </mat-panel-title>
            <mat-panel-description class="space">
              All Categories
              <!-- <b>{{ this.AllCategories.length }}</b> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8 m-4">
            <table mat-table [dataSource]="dataCategory" matSort>
              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let i">{{ i["_id"] }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let i">{{ i["name"] }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td mat-cell *matCellDef="let i">
                  <button
                    (click)="deleteCategory(i._id)"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedCategory"></tr>
              <tr mat-row *matRowDef="let i; columns: displayedCategory"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Items </mat-panel-title>
            <mat-panel-description class="space">
              All Items
              <!-- <b>{{ this.AllItems.length }}</b> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="m-4 justify-content-center">
            <mat-form-field appearance="fill">
              <mat-label>Search For Items</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder=""
                #input
              />
            </mat-form-field>
          </div>

          <div class="mat-elevation-z8 m-4">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Item Name
                </th>
                <td mat-cell *matCellDef="let row">{{ row["name"] }}</td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Category
                </th>
                <td mat-cell *matCellDef="let row">{{ row["category"] }}</td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let row">{{ row["price"] }}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Status
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-slide-toggle
                    class="example-margin"
                    [checked]="row.status"
                    (change)="changed(row)"
                  >
                  </mat-slide-toggle>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td mat-cell *matCellDef="let row">
                  <button
                    mat-button
                    (click)="onedit(row)"
                    mat-icon-button
                    color="accent"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    (click)="deleteProduct(row._id)"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Tables </mat-panel-title>
            <mat-panel-description class="space">
              All Tables
              <!-- <b>{{ this.AllTables.length }}</b> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8 m-4">
            <table mat-table [dataSource]="dataTable" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let i">{{ i["_id"] }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let i">{{ i["name"] }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </th>
                <td mat-cell *matCellDef="let i">
                  <button
                    (click)="deleteTable(i._id)"
                    mat-icon-button
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedTables"></tr>
              <tr mat-row *matRowDef="let i; columns: displayedTables"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
