.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .space {
    justify-content: space-between;
    align-items: center;
  }
  .spinner{
  
    width: 100%;
    height: 100%;
    margin: 250px;
    margin-left: 550px;
      z-index: 1;
    }