.box{
    margin:10px;
    background-color: #221e1e;
    max-height: 600px;
    max-width: 1500px;
    min-height: auto;
    min-width: auto;
    border-radius: 10px;
    padding:30px;
}
.mat-form-field{
    margin: 5px;
}
.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .example-container {
    height: 270px;
    overflow: auto;
  }
  


  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
  
  td, th {
    width: 25%;
  }
  .space {
    justify-content: space-between;
    align-items: center;
  }