
.example-card {
  width: 350px;
  height: 200px;
  /* padding: 10px; */
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  outline: solid 1px hsl(332, 96%, 48%);
  outline-offset:-10px; 

}
.card{
  display: flex;
  flex-direction: row;
  margin:20px;
  justify-content: center;
}
.spinner{
  margin: 230px;
  margin-left: 45%;
}