.example-spacer {
    flex: 1 1 auto;
  }
  .icons{
    height: 150px;
    width: 150px;
    font-size: 150px;
    color: rgb(242, 6, 108);
  }
  .example-card{
  display: flex;
  flex-direction: row;
  margin:20px;
  justify-content: center;
  }
  .card{
    margin:30px;
    border:1px solid rgb(242, 6, 108);

  }
  @media(max-width:900px){
    .example-card{
      display: flex;
      flex-direction: column;
      margin:20px;
      }
      .card{
        margin:30px;
        border:1px solid rgb(242, 6, 108);
    
      }
      .icons{
        height: 80px;
        width: 80px;
        font-size: 80px;
        color: rgb(242, 6, 108);
      }
  }
  .spinner{
  
    width: 10%;
    height: 10%;
   
      z-index: 1;
    }